.sales-growth{
    background:white;
    width: 990px;
    height: 400px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    margin-bottom:45px;
    text-align:center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .sales-growth{
        width: 111%;
        height: 450px;
        margin-bottom:45px;
    }
}